@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@-webkit-keyframes fly {
  from,
  to {
    top: 0px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  50% {
    top: 100px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(-4deg);
    transform: translateY(0) rotate(-4deg); }
  50% {
    -webkit-transform: translateY(-10px) rotate(4deg);
    transform: translateY(-10px) rotate(4deg); } }
@keyframes fly {
  from,
  to {
    top: 0px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  50% {
    top: 100px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(-4deg);
    transform: translateY(0) rotate(-4deg); }
  50% {
    -webkit-transform: translateY(-10px) rotate(4deg);
    transform: translateY(-10px) rotate(4deg); } }

@-webkit-keyframes up {
  0% {
    bottom: 0; }
  100% {
    bottom: 7px; } }

@keyframes up {
  0% {
    bottom: 0; }
  100% {
    bottom: 7px; } }

@-webkit-keyframes earth {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes earth {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes cloud {
  0% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@-webkit-keyframes cloud2 {
  0% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes cloud2 {
  0% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@-webkit-keyframes leg-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  0% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes leg-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  0% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes leg-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  0% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes leg-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  0% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes astronaut {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes astronaut {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes hand-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes hand-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); } }

@-webkit-keyframes ear-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes ear-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.1; }
  50% {
    opacity: 0.6;
    -webkit-filter: drop-shadow(2px 2px 3px white);
    filter: drop-shadow(2px 2px 3px white); }
  75% {
    opacity: 1;
    -webkit-filter: drop-shadow(2px 2px 3px white);
    filter: drop-shadow(2px 2px 3px white); }
  100% {
    opacity: 0.3; } }

@keyframes flash {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.1; }
  50% {
    opacity: 0.6;
    -webkit-filter: drop-shadow(2px 2px 3px white);
    filter: drop-shadow(2px 2px 3px white); }
  75% {
    opacity: 1;
    -webkit-filter: drop-shadow(2px 2px 3px white);
    filter: drop-shadow(2px 2px 3px white); }
  100% {
    opacity: 0.3; } }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes slide {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

.Wrapper {
  background: #384283;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #39c2b8, #384283);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#39c2b8), to(#384283));
  background: -webkit-linear-gradient(top, #39c2b8, #384283);
  background: -o-linear-gradient(top, #39c2b8, #384283);
  background: linear-gradient(to bottom, #39c2b8, #384283);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.astronaut {
  max-width: 180px;
  width: 100%;
  position: absolute;
  top: -56px;
  -webkit-animation: astronaut 1s alternate infinite;
  animation: astronaut 1s alternate infinite;
  right: -99px; }

.leg-left {
  -webkit-animation: leg-left 1.5s infinite alternate ease;
  animation: leg-left 1.5s infinite alternate ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.leg-right {
  -webkit-animation: leg-right 1.2s infinite alternate ease;
  animation: leg-right 1.2s infinite alternate ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.left-hand {
  -webkit-animation: hand-right 1.2s infinite alternate ease;
  animation: hand-right 1.2s infinite alternate ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.kv {
  background: url(../img/bg.png);
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 316px;
  background-position: bottom;
  position: relative; }
  .kv .small-earth {
    max-width: 310px;
    width: 100%;
    top: -50%;
    position: absolute; }
  .kv .msg {
    -webkit-transform: translateX(84px);
    -ms-transform: translateX(84px);
    transform: translateX(84px);
    margin: 32px 0; }
    .kv .msg .block {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      width: 100%; }
      .kv .msg .block .kv-robot {
        max-width: 116px;
        width: 100%;
        position: absolute;
        left: -86px;
        -webkit-animation: rotate 2s infinite alternate;
        animation: rotate 2s infinite alternate;
        top: -148px; }
      .kv .msg .block p {
        color: #fff;
        font-size: 18px;
        position: absolute;
        left: 50%;
        width: 85%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        line-height: 24px; }
      .kv .msg .block:nth-child(1) {
        max-width: 318px; }
        .kv .msg .block:nth-child(1) p {
          top: 46%;
          left: 55%; }
      .kv .msg .block:nth-child(2) {
        max-width: 500px; }
        .kv .msg .block:nth-child(2) p {
          top: 28%; }
  .kv .title {
    max-width: 590px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative; }
    .kv .title p {
      font-size: 25px;
      line-height: 34px;
      color: #606060;
      font-weight: normal; }
      .kv .title p b {
        color: #f2871c; }
      .kv .title p span {
        font-size: 20px;
        font-weight: 300;
        display: block;
        margin-bottom: 10px; }
    .kv .title h1 {
      max-width: 385px;
      width: 100%;
      display: block;
      margin: 20px auto; }
  .kv .container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto; }

.earth-block {
  max-width: 1164px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  transform: translateY(-400px);
  margin-bottom: -448px; }
  .earth-block .planet {
    max-width: 340px;
    width: 100%;
    left: 0;
    top: 26px;
    position: absolute; }
  .earth-block .planet2 {
    max-width: 130px;
    width: 100%;
    position: absolute;
    left: -40px;
    top: -100px; }
  .earth-block .step {
    margin: 40px 0; }
    .earth-block .step:last-child .num::after {
      display: none; }
    .earth-block .step .num {
      max-width: 30px;
      margin-right: 16px;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      position: relative; }
      .earth-block .step .num::after {
        content: '';
        display: block;
        width: 1px;
        height: 30px;
        margin: 0 auto;
        background: #fff;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -45px; }
    .earth-block .step p {
      display: inline-block;
      max-width: 382px;
      width: 100%;
      height: 88px;
      vertical-align: top;
      font-size: 20px;
      color: #fff;
      line-height: 29px;
      margin: 0; }
    .earth-block .step img {
      height: 50px; }
  .earth-block .txt {
    max-width: 466px;
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
    .earth-block .txt p span {
      background: #f2871c;
      padding: 4px;
      margin-right: 4px;
      padding-top: 0; }
  .earth-block .right-pic {
    max-width: 688px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: relative; }

.star {
  max-width: 346px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0; }
  .star .cls-b {
    -webkit-animation: flash 2.5s 1s alternate infinite backwards;
    animation: flash 2.5s 1s alternate infinite backwards; }
  .star .star1 {
    -webkit-animation: flash 2.5s 1s alternate infinite backwards;
    animation: flash 2.5s 1s alternate infinite backwards; }
  .star .star2 {
    -webkit-animation: flash 2.5s alternate infinite backwards;
    animation: flash 2.5s alternate infinite backwards; }
  .star .star3 {
    -webkit-animation: flash 2.5s 2s alternate infinite backwards;
    animation: flash 2.5s 2s alternate infinite backwards; }
  .star .star4 {
    -webkit-animation: flash 2.5s 2s alternate infinite backwards;
    animation: flash 2.5s 2s alternate infinite backwards; }

.ear-right {
  -webkit-animation: ear-right 1.2s infinite alternate ease;
  animation: ear-right 1.2s infinite alternate ease;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right; }

.cls-15 {
  -webkit-animation: scale 1.5s infinite alternate ease-in-out;
  animation: scale 1.5s infinite alternate ease-in-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.ear-left {
  -webkit-animation: ear-right 1.2s infinite alternate ease;
  animation: ear-right 1.2s infinite alternate ease;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right; }

.cloud-1 {
  max-width: 140px;
  width: 100%;
  position: absolute;
  right: 52px;
  top: 30%;
  z-index: 2;
  -webkit-animation: cloud 2s alternate infinite;
  animation: cloud 2s alternate infinite; }

.cloud-2 {
  max-width: 105px;
  width: 100%;
  position: absolute;
  right: 143px;
  top: 39%;
  z-index: 2;
  -webkit-animation: cloud2 2s alternate infinite;
  animation: cloud2 2s alternate infinite; }

.bear_astronaut {
  max-width: 386px;
  width: 100%;
  margin: 0 auto;
  display: block;
  z-index: 2;
  position: relative;
  margin-left: -56px;
  bottom: -52px; }

.earth {
  max-width: 558px;
  width: 100%;
  z-index: 1;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -187px;
  -webkit-animation: earth 48s infinite linear;
  animation: earth 48s infinite linear; }

.station01 {
  position: relative; }
  .station01 .space {
    max-width: 650px;
    width: 100%;
    right: 0;
    display: block;
    position: absolute;
    top: -24%; }
  .station01 .row {
    border: 16px solid #fde17e;
    border-radius: 16px;
    background: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 26px 0; }
    .station01 .row a {
      display: block;
      max-width: 196px;
      width: 100%;
      border-radius: 30px;
      color: #fff;
      font-size: 20px;
      padding: 10px;
      margin: 0 auto;
      margin-top: 32px;
      background: #fae27e;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #ed849b, #fae27e);
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-gradient(linear, right top, left top, from(#ed849b), to(#fae27e));
      background: -webkit-linear-gradient(right, #ed849b, #fae27e);
      background: -o-linear-gradient(right, #ed849b, #fae27e);
      background: linear-gradient(to left, #ed849b, #fae27e);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
      .station01 .row a img {
        display: inline-block;
        max-width: 20px;
        width: 100%;
        vertical-align: middle;
        margin: 0 4px; }
    .station01 .row h3 {
      max-width: 130px;
      width: 100%;
      padding: 10px;
      background: #fde17e;
      margin: 0 auto;
      font-size: 18px; }
    .station01 .row .col-4 {
      max-width: 300px;
      width: 100%;
      display: inline-block;
      margin: 0 20px;
      vertical-align: top; }
      .station01 .row .col-4 p {
        font-size: 20px;
        line-height: 26px; }
        .station01 .row .col-4 p span {
          display: block;
          color: #f2871c; }
      .station01 .row .col-4 img {
        max-width: 160px;
        width: 100%;
        margin: 40px 0 10px; }
    .station01 .row .col-8 {
      max-width: 500px;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin: 0 20px; }
      .station01 .row .col-8 table {
        max-width: 500px;
        width: 100%;
        margin: 52px 0 10px; }
        .station01 .row .col-8 table td {
          padding: 10px; }
        .station01 .row .col-8 table thead {
          font-size: 18px;
          background: #b3b3b3; }
        .station01 .row .col-8 table tbody {
          font-size: 20px;
          background: #f2f2f2; }
  .station01 .moon-block {
    max-width: 190px;
    width: 100%;
    display: block;
    position: absolute;
    left: 279px;
    top: -158px; }
    .station01 .moon-block .star2 {
      max-width: 64px;
      width: 100%;
      display: block;
      position: absolute;
      top: 43px;
      right: 0; }
      .station01 .moon-block .star2 .cls-1a {
        -webkit-animation: flash 2.5s alternate infinite backwards;
        animation: flash 2.5s alternate infinite backwards; }
      .station01 .moon-block .star2 .cls-2a {
        -webkit-animation: flash 2.5s alternate infinite backwards;
        animation: flash 2.5s alternate infinite backwards;
        -webkit-animation-delay: .5s;
        animation-delay: .5s; }
  .station01 .gradient {
    max-width: 782px;
    width: 100%;
    display: block;
    position: absolute;
    top: -71px;
    left: -110px; }
  .station01 .gradient-2 {
    max-width: 575px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 0; }
  .station01 .container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto; }
    .station01 .container > p {
      font-size: 20px;
      line-height: 28px;
      color: #fff; }
      .station01 .container > p span {
        display: block;
        margin-bottom: 16px;
        font-weight: bold;
        position: relative; }
        .station01 .container > p span::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background: #fff;
          border-radius: 50px;
          position: absolute;
          left: -10px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .station01 .sub-title {
    margin-bottom: 42px;
    position: relative;
    color: #fde17e; }
    .station01 .sub-title h2 {
      font-size: 24px;
      font-weight: normal; }
      .station01 .sub-title h2::after {
        content: '';
        display: block;
        max-width: 350px;
        width: 100%;
        height: 8px;
        border-radius: 20px;
        margin: 16px 0; }
      .station01 .sub-title h2 span {
        font-size: 30px;
        margin-left: 6px;
        font-weight: 500; }
    .station01 .sub-title h2::after {
      background: #fde17e; }
  .station01 .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .station01 .line p {
      max-width: 530px;
      width: 100%;
      padding: 20px 10px;
      font-size: 16px;
      background: #fff;
      text-align: center;
      color: #2d4c72;
      margin: 0 10px;
      border-radius: 40px; }
    .station01 .line .dot {
      opacity: 0;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-animation: slide 1.5s infinite;
      animation: slide 1.5s infinite; }
    .station01 .line .dot1 {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      opacity: 0;
      -webkit-animation: slide 1.5s infinite;
      animation: slide 1.5s infinite;
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    .station01 .line svg {
      max-width: 126px;
      width: 100%;
      height: 99px; }

.station02 {
  margin-top: 153px; }
  .station02 .container {
    position: relative; }
    .station02 .container .station2-planet {
      position: absolute;
      max-width: 171px;
      width: 100%;
      left: -266px;
      top: 40%; }
    .station02 .container .planet2 {
      position: absolute;
      max-width: 250px;
      width: 100%;
      right: -200px;
      top: 0; }
  .station02 .row {
    border: 16px solid #9ce5a3; }
    .station02 .row .col-4 p span {
      color: #9ce5a3; }
    .station02 .row a {
      background: #55c5bd;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #00a9bb, #55c5bd);
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-gradient(linear, right top, left top, from(#00a9bb), to(#55c5bd));
      background: -webkit-linear-gradient(right, #00a9bb, #55c5bd);
      background: -o-linear-gradient(right, #00a9bb, #55c5bd);
      background: linear-gradient(to left, #00a9bb, #55c5bd);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .station02 .row h3 {
      background: #9ce5a3; }
  .station02 .sub-title {
    color: #9ce5a3;
    max-width: 738px;
    width: 100%;
    position: relative; }
    .station02 .sub-title .robot {
      max-width: 142px;
      width: 100%;
      position: absolute;
      right: -100px;
      top: -102px; }
    .station02 .sub-title .bear {
      position: absolute;
      max-width: 156px;
      width: 100%;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation: up 1s infinite alternate ease-out;
      animation: up 1s infinite alternate ease-out; }
    .station02 .sub-title .planet {
      max-width: 316px;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0; }
      .station02 .sub-title .planet .hand {
        position: absolute;
        z-index: 3;
        width: 100%;
        max-width: 108px;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .station02 .sub-title h2::after {
      background: #9ce5a3;
      max-width: 738px;
      z-index: 2;
      position: relative; }

.gift-block {
  text-align: center; }
  .gift-block h4 {
    font-size: 30px;
    color: #9ce5a3;
    display: inline-block;
    max-width: 550px;
    width: 100%;
    margin-left: 50px;
    text-align: left;
    vertical-align: middle; }
  .gift-block .gifts {
    max-width: 120px;
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle; }
    .gift-block .gifts img {
      position: relative; }
    .gift-block .gifts .circle {
      left: 50%;
      display: block;
      width: 138px;
      height: 138px;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 0;
      background: #2d4c72;
      position: absolute;
      z-index: 0; }

.mfp-close-btn-in .mfp-close {
  color: #fff;
  right: 10px; }

.white-popup h3 {
  padding-left: 1em; }

.white-popup table {
  max-width: 980px;
  background: #fff;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  border-collapse: collapse; }
  .white-popup table thead {
    background: #333333;
    color: #fff; }
  .white-popup table tbody td {
    border: 1px solid #eeeeee; }
  .white-popup table td {
    padding: 10px;
    border: 1px solid #fff; }
    .white-popup table td ol {
      text-align: left; }

.white-popup ol ul {
  padding-left: 20px;
  margin: 10px 0; }

.white-popup .con {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  background: #eeeeee;
  padding: 20px;
  border-radius: 20px;
  line-height: 24px;
  padding-right: 2em;
  height: 700px;
  overflow-y: scroll; }

.faq a {
  display: block;
  font-size: 20px;
  color: #013f33;
  font-weight: bold;
  margin: 0px auto; }
  .faq a img {
    max-width: 28px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; }

.faq .con {
  text-align: center;
  padding: 20px;
  background: #26d59e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #76ebd8, #26d59e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#76ebd8), to(#26d59e));
  background: -webkit-linear-gradient(left, #76ebd8, #26d59e);
  background: -o-linear-gradient(left, #76ebd8, #26d59e);
  background: linear-gradient(to right, #76ebd8, #26d59e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .faq .con p {
    font-size: 16px;
    color: #013f33; }

.faq .wave {
  display: block;
  width: 100%; }

@media (max-width: 1200px) {
  .earth-block {
    padding: 0 20px; }
    .earth-block .planet {
      max-width: 296px; }
    .earth-block .step p {
      max-width: 365px; }
    .earth-block .right-pic {
      max-width: 636px; } }

@media (max-width: 1150px) {
  .star {
    max-width: 294px; }
  .earth-block .txt {
    max-width: 428px;
    margin-left: 10px; }
  .earth-block .right-pic {
    max-width: 636px; } }
